# macOS system files
.DS_Store

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# NLTK data
nltk_data/

# Data folder (raw large CSVs)
data/raw/
*.csv
*.zip

# PyTorch model weights
*.pth

# Pickle files (optional, if you want to ignore scaler)
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/